.body {
  width: 500px;
  height: 700px;
  display: flex;
  margin: 0 auto;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  display: block;
}

.header {
  width: 100%;
  /* background-color: #000; */
  font-size: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.header h3 {
  font-size: 16px;
}

.close-icon {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 32px;
  margin: 8px;
}

.close-icon:hover {
  color: #ccc;
  cursor: pointer;
}

.logo-icon {
}

.form {
  display: flex;
  flex-direction: column;
  padding: 32px;
}

.input {
  font-size: 30px;
  border-radius: 25px;
}

.footer {
}
